
h1 {
	color: red;
	font-family: "Georgia", serif;
	text-align: center;
}

h4 { text-align: left;}

h2 {
	color: red;
	font-family: "Georgia", serif;
	text-align: center;

}

h3 {color: blue;

}


p {
	color:green;
	line-height: 15px;
}

h4 {
	text-transform: uppercase;
}